<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find mobiman)/urdf/PI-Bot-SampleA/urdf/mmp_revA_v1_0_0.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find mmp_revA_v1_0_0)/urdf.rviz" />
</launch>